



.Album {
    display: grid;
    grid-template-columns: auto auto auto;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-content:start;
margin-top: 100px;
}


.album-1 {
    height: 25vw;
    width: 23vw;
    /* border: 1px solid red; */
    position: relative;
display: flex;
flex-direction: column;
justify-content: flex-end;
text-align: center;
    margin: 50px 0;
}

.album-1 h2 {
    font-size: var(--h3-font);
    color: navy;
}

.album-1 p{
    font-size: var(--p-font);
}

.photo {
    /* margin: 200px 0; */
 

    position: absolute;
    top: 0;
    cursor: pointer;
    transition: .5s;
    /* transform: rotate(45deg); */
}


.photo:hover {
    transform: scale(1.05);
}

.photo img {
    height: 13vw;
    width: 22vw;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 4px;
    object-fit: cover;
    object-position: top;
}

.photo:nth-child(2) {
    transform: rotate(15deg);
}

.photo:nth-child(1) {
    transform: rotate(-15deg);
}


.album-display {
    height: 90%;
    width: 97%;
    position: fixed;
    top: 50%;
    /* bottom: 0%; */

    /* margin: 2.5% 5%; */
    background-color: white;
    /* border-radius: 5px; */
    padding: 3% 1.5%;
    /* padding-top: 50px; */
    /* padding-left: 20px; */
    /* border-style:; */
    /* border: 2px solid red; */
    /* box-shadow: 0px 0px 4px 2px; */
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: start; */
    align-content:start;
    transition: .7s;
    /* grid-column-gap: 20px; */
    /* gap: 20px; */
    z-index: 3;
}

/* .album-display div {
   
    } */

.close-album {
    position: fixed;
    top: 15px;
    /* color: red; */
    left: 18px;
    cursor: pointer;
    transition: .5s;
}

.close-album:hover {
    color: red;
}
/* .close-album {
    position: fixed;
    top: 5px;
    color: red;
    right: 18px;
    cursor: pointer;
} */

.album-display img {
width: 17vw;
height: 17vw;
object-fit: cover;
    object-position: top;
    margin-bottom: 25px;
}

.album-display img:hover {
    /* transform: scale(1.01); */
    /* border: 3px solid white; */
    /* border-radius: 5px; */
    transition: .5s;
    box-shadow: 0px 0px 5px 1px var(--primary);
    cursor: pointer;
}

.photo-display {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2.5% 2%; */
    background-color: rgb(0,0,0,0.95);
    /* border-radius: 5px; */
    /* padding: 1.5%; */
    padding-top: 10px;
    /* padding-left: 20px; */
    /* border-style:; */
    /* border: 2px groove; */
    /* box-shadow: 0px 0px 4px 2px; */
    /* overflow-y: scroll; */
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: start; */
    /* align-content:start; */
    transition: .7s;
    /* grid-column-gap: 20px; */
    /* gap: 20px; */
    z-index: 4;
}

.photo-display .close-album {
    color: white;
}

.photo-display img {
    width: auto;
    height: 90%;
    /* margin: 0 auto; */
    object-fit: cover;
        object-position: top;
        /* margin-bottom: 25px; */
    }

    .next, .previous {
        z-index: 5;
        background-color: rgb(255, 255, 255,0.6);
        position: fixed;
        top: 50%;
        cursor: pointer;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }

    .next:hover, .previous:hover {
        background-color: rgb(255, 255, 255,0.95);
    }

    .next {
        right: 30px;
    }

    .previous {
        left: 30px;
    }

    .position {
        right: 50%;
        transform: translateX(50%);
        bottom: 10%;
        background-color: rgb(255, 255, 255,0.85);

        z-index: 5;
        position: fixed;
        cursor: pointer;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

@media (max-width: 780px) {
   
   
.photo-display {
    max-height: 600px;
    top: 40%;
    background-color: rgb(0,0,0,0.95);
    /* transform: translateY(-50%); */
}

    .photo-display img {
        width: 90%;
        height: auto;
    object-fit: contain;

        }
        
}


@media (max-width: 540px) {

    .Album {
        grid-template-columns: auto auto;
    }
    
    
    .album-1 {
        height: 40vw;
        width: 35vw;
        margin: 30px 0;
    }

    .photo img {
        height: 20vw;
        width: 33vw;
        border: 5px solid white;
        border-radius: 3px;
        box-shadow: 0px 0px 10px 2px;
    }

}